$primary-bg-color: rgb(150, 150, 180); //Use three reinbow-adjecant colors and two inverse colors?
$secondary-bg-color: rgb(122, 121, 130);
$tertiary-bg-color: rgb(72, 72, 92);
$quaternary-bg-color: rgb(48, 48, 68);
$quinary-bg-color: rgb(0, 0, 20);


$primary-text-color: rgb(0, 0, 20);
$secondary-text-color: rgb(48, 48, 68);;
$tertiary-text-color: rgb(72, 72, 92);
$quaternary-text-color: rgb(122, 121, 130);
$quinary-text-color: rgb(150, 150, 180);