@use '_variables' as v;
@use '_mixins' as m;
@use '_basic' as b;

.mainNav {
    @include m.nav;
}
body{
    text-align: center;
    h2{
        font-weight: 700;
        margin-left: 0.5rem;
        margin-right: 0.5rem;

    }
}

.card-section {
    display: flex;
    margin: 50px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: center;
    }

    & .card {
        @include m.rounded-corners;
        background-color: transparent;
        width: 500px;
        height: 350px;
        perspective: 2000px;

        &:hover .card-content-container:hover {
            transform: rotateY(180deg);
        }

        & .card-content-container {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.5s;
            transform-style: preserve-3d;

            & .card-front {
                background-color: #bbb;
                color: black;

                
                & .card-text-container {
                    position: absolute;
                    //width: 60%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-color: aqua;
                }

                

            }

            & .card-back {
                background-color: dodgerblue;
                color: white;
                transform: rotateY(180deg);
                
                & .card-text-container {
                    position: absolute;
                    width: 80%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            & .card-front,
            .card-back {
                @include m.rounded-corners;
                position: absolute;
                width: 100%;
                height: 100%;
                -webkit-backface-visibility: hidden;
                /* Safari */
                backface-visibility: hidden;


                & img {
                    @include m.rounded-corners;
                    width: 100%;
                    height: 100%;
                }
                h3{
                    margin-bottom: 0.8rem;
                }
                p{
                    line-height: 1.5rem;
                    margin: 0.5rem;
                }
                
            }
        }
    }

}